<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!-- <suite name="functional_tests Suite" parallel="tests" data-provider-thread-count="3"> -->

<suite name="Parallel test suite" parallel="classes" thread-count="2">
<test name="functional_tests">
    <classes>
        <class name="multi_userdata.TestRunner"/>
    </classes>
</test>
</suite>